*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.about_us{
    min-height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background: url(about.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    color: white;
    width: 55%;
    float: right;
    /* background-color: #fdfdfd; */
    background-color: black;
    padding: 150px;
}

.inner-container h1{
    border-bottom-width: 1px white;
    border-bottom-style: solid;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    border-bottom-width: 1px white;
    border-bottom-style: solid;
    padding: 10px;
    font-size: 20px;
    color: white;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
} 

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

/* ================================================================================ */

.box-img-2{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.about_us-2{
    min-height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section-2{
    background: url(about.jpg) no-repeat right;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container-2{
    color: white;
    width: 55%;
    float: left;
    /* background-color: #fdfdfd; */
    background-color: black;
    padding: 150px;
}

.inner-container-2 h1{
    border-bottom-width: 1px white;
    border-bottom-style: solid;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text-2{
    border-bottom-width: 1px white;
    border-bottom-style: solid;
    padding: 10px;
    font-size: 20px;
    color: white;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills-2{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
} 

@media screen and (max-width:1200px){
    .inner-container-2{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section-2{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container-2{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section-2{
        padding: 0;
    }
    .inner-container-2{
        padding: 60px;
    }
}